.icon-search {
	width: 12px;
	height: 12px;
	border-radius: 100%;
	border: 2px solid #C0C0C0;
	position: relative;
	margin: 30px auto;
}
.icon-search:after {
	content: "";
	transform: rotate(45deg);
	width: 8px;
	height: 2px;
	position: absolute;
	top: 13px;
	left: 11px;
	background-color: #C0C0C0;
